.about {
    &__inner {
        display: flex;
        flex-direction: column;
    }

    &__cards {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;

        @include mobile {
            flex-direction: column;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        padding-inline: 16px;
        padding-block: 36px 23px;
        border: 1px solid #dcebf7;
        border-radius: 5px;
        max-width: 300px;
        justify-content: center;
        align-items: center;
        row-gap: 14px;

        @include mobile {
            max-width: 600px;
        }

        img {
            width: 95px;
            aspect-ratio: 1;
        }

        h4 {
            font-size: 20px;
            line-height: 1.5;
            letter-spacing: 0.35em;
            text-transform: uppercase;
            text-align: center;
            color: var(--color-gray);
        }

        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 179%;
            text-align: center;
            color: #6a859c;
        }
    }
}