.welcome {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('/images/welcome.jpg') center/cover no-repeat;
    background-color: #24242C;
    color: var(--color-white);
    text-align: center;
    padding-block: 195px;

    @include mobile {
        padding-block: 120px;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        font-size: 60px;
        line-height: 1;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        margin-bottom: 80px;

        @include mobile {
            font-size: 45px;
            margin-bottom: 60px;
        }
    }

    &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        @include mobile-s {
            flex-direction: column;

            .link {
                width: 80%;
            }
        }
    }
}

* {
    perspective: 500px;
}
