:root {
    --font-family-base: 'Open Sans', 'sans-serif';

    --color-gray: #676770;
    --color-light-gray: #8E8E9C;
    --color-light-blue: #69B9FF;
    --color-blue: #0082F3;
    --color-dark-blue: #0065BD;
    --color-gray-blue: #6A859C;
    --color-white: #FFFFFF;

    --container-width: 940px;
    --container-padding-x: 15px;

    --header-height: 60px;

    --section-padding-block: 80px;
}