@charset "UTF-8";
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --font-family-base: "Open Sans", "sans-serif";
  --color-gray: #676770;
  --color-light-gray: #8E8E9C;
  --color-light-blue: #69B9FF;
  --color-blue: #0082F3;
  --color-dark-blue: #0065BD;
  --color-gray-blue: #6A859C;
  --color-white: #FFFFFF;
  --container-width: 940px;
  --container-padding-x: 15px;
  --header-height: 60px;
  --section-padding-block: 80px;
}

/* Общие стили */
body {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 14px;
}

p {
  line-height: 1.79;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

*, *::before, ::after {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

a, a:visited, a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus, a:active {
  outline: none;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p + p {
  margin-top: 1em;
}

ul {
  list-style: none;
}

img, svg, video {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-flex;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: none;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 100;
  box-shadow: 0px 0 5px black;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  min-height: var(--header-height);
  align-items: center;
  gap: 10px;
}
.header__logo {
  font-size: 25px;
  line-height: 100%;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  color: #69b9ff;
}
.header__nav-list {
  display: flex;
  justify-content: space-around;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-right: 20px;
}
@media (max-width: 480px) {
  .header__nav-list {
    -moz-column-gap: 10px;
         column-gap: 10px;
    margin-right: 10px;
  }
}
.header__nav-item {
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-gray);
  transition: color 0.3s;
}
.header__nav-item:hover {
  color: var(--color-blue);
}
.header__nav-item:active {
  color: var(--color-dark-blue);
}

.welcome {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./../images/welcome.jpg") center/cover no-repeat;
  background-color: #24242C;
  color: var(--color-white);
  text-align: center;
  padding-block: 195px;
}
@media (max-width: 767px) {
  .welcome {
    padding-block: 120px;
  }
}
.welcome__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.welcome__title {
  font-size: 60px;
  line-height: 1;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-bottom: 80px;
}
@media (max-width: 767px) {
  .welcome__title {
    font-size: 45px;
    margin-bottom: 60px;
  }
}
.welcome__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 480px) {
  .welcome__links {
    flex-direction: column;
  }
  .welcome__links .link {
    width: 80%;
  }
}

* {
  perspective: 500px;
}

.link {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  height: 45px;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 12px 30px;
  font-family: var(--font-family);
  line-height: 131%;
  transition: background-color 0.3s;
  transition: border-color 0.3s;
}
.link:hover {
  border-color: #8AC9FF;
  background-color: rgba(138, 201, 255, 0.2);
}
.link:active {
  border-color: #1994FF;
  background-color: rgba(25, 148, 255, 0.2);
}
.link-primary {
  background-color: var(--color-light-blue);
  border-color: var(--color-light-blue);
}
.link-primary:hover {
  background-color: #8AC9FF;
}
.link-primary:active {
  background-color: #1994FF;
}

.common-section--light {
  background-color: #fff;
  padding-block: var(--section-padding-block);
}
@media (max-width: 767px) {
  .common-section--light {
    --section-padding-block: 40px;
  }
}
.common-section--light .title-wrapper__title {
  color: #676770;
}
.common-section--light .title-wrapper__subtitle {
  color: #8E8E9C;
}
.common-section--light .link {
  border: 1px solid #676770;
  border-radius: 4px;
}
.common-section--dark {
  color: #fff;
  background-color: #192024;
  padding-block: var(--section-padding-block);
}
@media (max-width: 767px) {
  .common-section--dark {
    --section-padding-block: 40px;
  }
}
.common-section--dark .title-wrapper__title {
  color: #fff;
}
.common-section--dark .title-wrapper__subtitle {
  color: #E8E8E8;
}

.hide {
  display: none !important;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 17px;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .title-wrapper {
    margin-bottom: 30px;
  }
}
.title-wrapper__title {
  font-size: 30px;
  line-height: 120%;
  letter-spacing: 0.17em;
  text-transform: uppercase;
  text-align: center;
}
.title-wrapper__subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 17px;
  line-height: 118%;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  text-align: center;
}

.about__inner {
  display: flex;
  flex-direction: column;
}
.about__cards {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .about__cards {
    flex-direction: column;
  }
}
.about__card {
  display: flex;
  flex-direction: column;
  padding-inline: 16px;
  padding-block: 36px 23px;
  border: 1px solid #dcebf7;
  border-radius: 5px;
  max-width: 300px;
  justify-content: center;
  align-items: center;
  row-gap: 14px;
}
@media (max-width: 767px) {
  .about__card {
    max-width: 600px;
  }
}
.about__card img {
  width: 95px;
  aspect-ratio: 1;
}
.about__card h4 {
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-gray);
}
.about__card p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 179%;
  text-align: center;
  color: #6a859c;
}

.services__cards {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .services__cards {
    flex-direction: column;
  }
}
.services__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  padding: 15px;
}
.services__title {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.35em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.services__description {
  padding-inline: 15px;
  text-align: center;
}
.services__descriptionP {
  color: #e8e8e8;
}
.services__link {
  display: flex;
  justify-content: center;
}

.future__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
}
@media (max-width: 767px) {
  .future__wrapper {
    row-gap: 20px;
  }
}
.future__tabs {
  display: flex;
  gap: 16px;
}
@media (max-width: 767px) {
  .future__tabs {
    flex-direction: column;
  }
}
.future__pic {
  width: 100%;
}
.future__pic img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
  height: 100%;
}
.future__title {
  font-size: 31px;
  line-height: 116%;
  text-align: center;
  color: #676770;
}
.future__description {
  font-size: 13px;
  line-height: 192%;
  text-align: center;
  color: #6a859c;
}
.future__item {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  animation: fade 1s;
}

@keyframes fade {
  from {
    opacity: 0.3;
  }
  to {
    opacity: 1;
  }
}
.tab-button {
  border-radius: 4px;
  background-color: #92a0ad;
  font-size: 16px;
  line-height: 131%;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  padding: 4px 30px;
}

.active {
  background-color: #2e80b6;
}

.footer__main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 35px;
  gap: 24px;
}
@media (max-width: 767px) {
  .footer__main {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 480px) {
  .footer__main {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 767px) {
  .footer__about {
    grid-column: span 2;
  }
}
@media (max-width: 480px) {
  .footer__about {
    grid-column: 1;
  }
}
.footer__about, .footer__links, .footer__soc1als {
  padding-inline: 10px;
  color: #668cad;
}
.footer__title {
  font-size: 18px;
  line-height: 111%;
  letter-spacing: 0.22em;
  text-transform: uppercase;
  color: #676770;
  margin-bottom: 20px;
}
.footer__description {
  font-size: 14px;
  line-height: 179%;
  color: #6a859c;
}
.footer__links-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
.footer__links li {
  padding-bottom: 12px;
  border-bottom: 1px solid #d5d5e0;
}
.footer__soc1als img {
  display: inline-block;
  width: 20px;
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 12px;
}
.footer__soc1als li {
  position: relative;
  padding-bottom: 18px;
}
.footer__soc1als li::after {
  content: "";
  position: absolute;
  bottom: 6px;
  right: 0;
  width: calc(100% - 32px);
  height: 1px;
  background-color: #d5d5e0;
}
.footer__link {
  font-size: 13px;
  line-height: 154%;
}
.footer__copyright {
  background-color: #383838;
  padding-block: 40px;
}
@media (max-width: 767px) {
  .footer__copyright {
    padding-block: 25px;
  }
}
.footer__copyright p {
  font-size: 15px;
  line-height: 133%;
  text-align: center;
  color: #9e9e9e;
}/*# sourceMappingURL=styles.css.map */
